@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

@media (max-width: 640px) {
  .dropdown:focus-within ul {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
  }
}

@media (min-width: 641px) {
  .dropdown:hover ul {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 9999;
  }
}
